#flexContain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1c1c;
    height: 55px;
}

header{
    display: flex;
    flex-direction: column;
}

#flexContain p{
    font-size: 20px;
    color: white;
}

#flexContain p{
    margin-left: 30px;
    font-family: Broadway, Arial, sans-serif;
}

body{
    margin: 0;
    background-image: url("Images/background1.jpg");
    height: fit-content;
}

section{
    display: flex;
    width: 100%;
}

img{
    height: 600px;
    width: auto;
    border: 10px double #77829c;
    margin: auto;
    justify-content: center;
}